<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486061189377-n5ckj1v00432598q1m4u70tkn6uove1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486061189377-n5ckj1v00432598q1m4u70tkn6uove1n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>486061189377-gvm0fnhao7gbiffmko9bhdqnijjhb8al.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDAkHN50K2jnsArTQLG_3J0U9MktR1_rk</string>
	<key>GCM_SENDER_ID</key>
	<string>486061189377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-qwer</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-qwer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486061189377:ios:a2d51d2245d68bfbde5300</string>
	<key>DATABASE_URL</key>
	<string>https://tiktok-clone-qwer-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>